<%= render "lists/links" %>
<header class="uk-navbar-container tm-navbar-container uk-sticky-fixed header-back-color uk-animation-fade">
    <%= render "lists/header" %>
</header>
<main uk-grid class="uk-grid-collapse uk-animation-fade">
  <article class="uk-width-expand uk-flex uk-flex-column">
    <section id="searchSection" class="uk-flex-2 padding10-5">
      <%= render "lists/searchSection" %>
    </section>
    <section id="listSection" class="uk-flex-1 padding10-5">
      <%= render "lists/listSection" %>
    </section>
    <footer class="uk-flex-2 padding10-5 uk-padding-remove-bottom">
      <%= render "lists/footer" %>
    </footer>
  </article>
  <aside class="height100 padding10-5">
    <%= render "lists/aside" %>
  </aside>
</main>
